.header {
    align-content: end;
}

.header-button {
    background-color: white;
    border: none;
    color: #2A9D8F;
    font-weight: 700;
    border-radius: 50px;
    padding: 5px;
    margin: 30px;
    font-size: medium;
}

.header-button:hover{
    color: #264653;
}