.hero-view {
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    max-width:100%;
    background-color: #E5E5E5;
}

.hero-content {
    height: 80vh;
    min-height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
}

.hero-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color:#264653;
    font-size: larger;
    padding-left: 30px;
}

.orange {
    color: #C3824E;
}

.hero-image {
    border-radius: 100%;
    width: 300px;
}

.scroll-gif {
    width: 70px;
}